<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taxi.schedule">

	<resultMap type="com.taxi.schedule.dto.ScheduleDto" id="ScheduleTableMap">
		<result property="s_seq" column="S_SEQ"/>
		<result property="u_no" column="U_NO"/>
		<result property="s_no" column="S_NO"/>
		<result property="d_no" column="D_NO"/>
		<result property="s_date" column="S_DATE"/>
		<result property="s_time" column="S_TIME"/>
		<result property="s_location" column="S_LOCATION"/>
		<result property="s_course" column="S_COURSE"/>
		<result property="s_people" column="S_PEOPLE"/>
		<result property="s_regdate" column="S_REGDATE"/>
		<result property="s_latitude" column="S_LATITUDE"/>
		<result property="s_longitude" column="S_LONGITUDE"/>
		<result property="s_confirmed_check" column="S_CONFIRMED_CHECK"/>
		<!-- <collection property="driver_dto" resultMap="com.taxi.driver.dto.DriverDto"></collection> -->
	</resultMap>
	
	<select id="selectlogin" parameterType="UserDto" resultType="UserDto">
	SELECT * FROM USER_TABLE WHERE U_ID = #{u_id} AND U_PW = #{u_pw} AND U_ENABLED = 'Y'
	</select>
	
	<select id="getDate" parameterType="int" resultType="String">
	SELECT S_DATE FROM SCHEDULE_TABLE WHERE U_NO = #{u_no}
	</select>
	
	<insert id="insertSchedule" parameterType="ScheduleDto">
	INSERT INTO SCHEDULE_TABLE VALUES(S_SEQ.NEXTVAL, #{u_no}, #{d_no}, 1, #{s_date}, #{s_time}, #{s_location}, #{s_course}, #{s_people}, #{s_price}, SYSDATE, #{s_latitude}, #{s_longitude},'P')
	</insert>

	<select id="UserCalView" parameterType="ScheduleDto" resultType="ScheduleDto" >
	SELECT *
	FROM (SELECT (ROW_NUMBER() OVER (PARTITION BY SUBSTR(S_DATE,1,10) ORDER BY S_DATE)) 
		RN, S_SEQ, U_NO, D_NO, S_NO, S_DATE, S_TIME, S_LOCATION, S_COURSE, S_PEOPLE, S_PRICE, S_REGDATE, S_LATITUDE, S_LONGITUDE, S_CONFIRMED_CHECK
		FROM SCHEDULE_TABLE WHERE U_NO = #{u_no} AND SUBSTR(S_DATE,1,7)= #{s_date} ) 
	WHERE RN BETWEEN 1 AND 3
	</select>
	
	<select id="UserCalDetail" parameterType="ScheduleDto" resultType="ScheduleDto">
	SELECT * FROM SCHEDULE_TABLE 
	WHERE U_NO= #{u_no} AND S_SEQ = #{s_seq}
	</select>
	
</mapper>