<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.taxi.rating">
  
  	<resultMap type="com.taxi.rating.dto.RatingDto" id="RatingTableMap">
  		<result property="ra_no" column="RA_NO" />
  		<result property="u_no" column="U_NO" />
  		<result property="d_no" column="D_NO" />
  		<result property="ra_rating" column="RA_RATING" />
  	</resultMap>
  	
  
<insert id="insertRating" parameterType="com.taxi.rating.dto.RatingDto" >
	INSERT INTO RATING_TABLE VALUES(RA_SEQ.NEXTVAL, #{u_no}, #{d_no}, #{ra_rating})
</insert>


<select id="showRating" parameterType="int" resultType="int">
	SELECT AVG(RA_RATING) FROM RATING_TABLE WHERE D_NO = #{d_no}  
</select>


<!-- <select id="login" parameterType="DriverDto" resultType="DriverDto">
	SELECT * FROM DRIVER_TABLE WHERE D_ID = #{d_id} AND D_PW = #{d_pw} AND D_ENABLED = 'Y' 
</select>


<select id="idchk" parameterType="String" resultType="String">
	SELECT D_ID FROM DRIVER_TABLE WHERE D_ID = #{d_id} 
</select>
  	
  	


<select id="getprofile" parameterType="int" resultType="String">
	SELECT D_PROFILE FROM DRIVER_TABLE WHERE D_NO = #{d_no}  
</select>  	
  	
  	
<update id="driverupdate" parameterType="DriverDto">
	UPDATE DRIVER_TABLE SET D_CARNUM = #{d_carnum}, D_LICENSE = #{d_license}, D_EMAIL = #{d_email}, D_PHONE = #{d_phone}, D_PW = #{d_pw} WHERE D_NO = #{d_no}
</update>  	
  	
  	
<update id="driverdelete" parameterType="DriverDto">
	UPDATE DRIVER_TABLE SET D_ENABLED = 'N' WHERE D_NO = #{d_no}
</update>  	 -->
  	
  	
<!-- <select id="driverlist"  resultMap="DriverTableMap">  	
  	SELECT * FROM DRIVER_TABLE WHERE D_ENABLED = 'Y' ORDER BY D_NO DESC
</select> 	

<update id="updateProfile" parameterType="DriverDto">
	UPDATE DRIVER_TABLE SET D_PROFILE = #{d_profile} WHERE D_ID = #{d_id} 
</update> -->

  </mapper>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  