body{
font-family: 'Nanum Gothic', sans-serif;
}
.image {
  display: block;
  width: 90%;
  height: auto;
}

.overlay {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 5%;
  right: auto;
  height: 100%;
  width: 89%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 50%;


}
.container:hover .overlay {
  opacity: 1;
}
.container:hover .image {
  opacity: 0.1;
}
.text {
  color: black;
  font: bold;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
